html{
    margin: 0;
}
.jumbotron{
    background-image:url("../pictures/lights.jpg");
    background-position: center;
    background-size: cover;;
    border:2x solid black;
    color: white;
}
#ready {
    text-align:center;
}
h2{
    text-align:center;

}

#first{
    background-color:grey;

}    
.fa-play{
    color: white;
    
} 
#copy{
    background-color:rgba(0,0,0,1); 
    color:white;
    margin:0px 15px 0px 15px;
    font-size: 20px;
}
