
.column {
    float: left;
    width: 25%;
    
  }
  body{
      background-color: rgba(0, 0, 0, 0.658);
  }
  

  @media screen and (max-width: 500px) {
    .column {
      width: 100%;
      
    }
  }
  
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  
  .container {
    padding: 0 16px;
  }
  

   .row:after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  
  
  img{
      width: 100%;
      height: auto;
      border-radius: 50%;
      
  }
  h1{
      text-align: center;
    color: rgb(255, 255, 255);
  }
  h2{
      text-align: left;
      color: rgb(255, 255, 255);
  }
  p{
      text-align: left;
      color: rgb(255, 255, 255);
  }